.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(126, 118, 118, 0.1);
    background-color: #fff;
}

.message {
    color: #291313;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(231, 195, 195);
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #afa84c;
    color: rgb(223, 23, 23);
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

