<!DOCTYPE html>
<html>
<head>
	<title>Minha Página Inicial</title>
</head>
<body>

	<header>
		<h1>Bem-vindo à minha página inicial</h1>
		<nav>
			<ul>
        <p><a href="/login">Entrar</a></p>
        <p><a href="/signup">Cadastrar</a></p>
				<li><a href="#">Página Inicial</a></li>
				<li><a href="#">Sobre Mim</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h2>Assunto</h2>
		<p>Testando Prof Simone</p>
	</main>

	<footer>
		<p>&copy; 2023 Minha Página Inicial. Todos os direitos reservados.</p>
	</footer>

</body>
</html>